:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: rgb(255 255 255);
  --alt-bg-color: rgb(223 223 223);
}

html {
  display: block;
  width: 100%;
  margin: auto 0;
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  font-family: Georgia, serif;
  text-transform: lowercase;
  color: var(--main-text-color);
  font-size: 16px;
  cursor: pointer;
}

.prompt-box {
  color: #f9faffde;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 150px;
  text-shadow: #858ebc -2px 2px 8px;
}

#prompt {
  background: none;
  border: none;
  margin: 32px;
  font-size: 48px;
  text-shadow: #858ebc -2px 2px 8px;
  color: #f9faffde;
  overflow-wrap: anywhere;
  width: 90%;
  height: 100vh;
  resize: none;
}

a, a:visited {
  color: antiquewhite;
}

#prompt:focus {
  outline: none;
}